/* Sidebar.css */
.sidebar-container {
    background-color: #4CAF50; /* Consistent theme color */
    padding: 20px;
    width: 200px; /* Slightly wider for better readability */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.sidebar {
    margin-top: 20px;
}

.sidebar-title {
    margin-bottom: 20px;
    color: #fff; 
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #fff; /* Add a bottom border for separation */
    padding-bottom: 10px;
}

.sidebar-list {
    list-style: none; 
    padding: 0;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-link {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
    text-align: center;
}

.sidebar-link:hover {
    background-color: #45a049; /* Consistent hover color */
}
